@media(max-width:1439px){
	.sidepanel{
		display: none;
	}
}
@media(max-width:1200px){
	.container{
		max-width: 960px;
	}
	.promo{
		background: url('../img/taras_main_bg.jpg') no-repeat 80%/cover;
		&__btns{
			margin-top: 30px;
		}
	}
	.about{
		&__wrapper{
			grid-template-columns:400px 540px ;
			column-gap: 40px;
		}
		&__skills{
			column-gap:20px;
			grid-template:repeat(2,minmax(115px,auto))/repeat(2,250px);
			&-item{
				grid-template-columns:40px 195px;
				column-gap:15px;
			}
		}

	}
	.resume{
		&__wrapper{
			padding-left: 0;
		}
	}
	.skills {
        &__items {
            grid-template-columns: repeat(3, 270px);
            justify-content: space-evenly;
        }
        &__ratings {
            grid-template-columns: repeat(2, 350px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: space-evenly;
		    padding: 0 30px;
		    }
	}
	.portfolio{
		&__wrapper{
			grid-template-columns: repeat(auto-fit,280px);
			grid-auto-rows:280px;
			justify-content: space-evenly;
			row-gap: 20px;
			.horizontal, .vertical{
				grid-row: unset;
				grid-column:unset;
			}
		}

	}
	.contacts {
		&__wrapper {
			padding: 0;
	    	grid-template-columns: 400px 520px;
			}
		&__form {
		    grid-template: 45px 190px 45px / repeat(2, 250px);
			}
	}
}



@media(max-width:992px){
	.container{
		max-width: 720px;
	}
	.title{
		&_fz36{
			font-size: 30px;
		}
	}
	.about{
		 &__wrapper{
			grid-template-columns: 300px 380px;
			 }
		 &__skills{
			grid-template-columns: 360px;
			grid-auto-rows:minmax(115px,auto);
			&-item{
				grid-template-columns: 40px 290px;
			}
		}
	}
	.resume{
		&__wrapper{
		grid-template-columns: repeat(2,333px);
		column-gap: 62px;
		}
	}
    .skills {
        &__items {
            grid-template-columns: repeat(3, 270px);
            justify-content: space-evenly;
        }
        &__ratings {
            grid-template-columns: repeat(2, 350px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: space-evenly;
            padding: 0 30px;
        }
	}
	.contacts{
		&__wrapper{
			grid-template-columns:585px;
		}
		&__photo{
			display: none;
		}
	}
	.contacts {
		&__wrapper {
			grid-template-columns: 300px 400px;
		}
		&__form {
			grid-template: 45px 190px 45px / repeat(2, 195px);
			column-gap:10px;
		}
		&__btn {
			padding: 8px 25px;
			line-height: 16px;
		}	
	}
}




@media(max-width:768px){
	.container{
		max-width: 540px;
	}
	.promo{
		background: url('../img/taras_main_bg.jpg') no-repeat 80%/cover;
		&__btns{
			margin-top: 30px;
		}
	}
	.title{
		&_fz48 {
			font-size: 28px;
		}
	}
	.promo{
		&__title{
			line-height: 39px;
			width: 300px;
		}
	}
	.about{
		padding-top: 41px;
		&__wrapper{
			grid-template: 400px auto auto / 1fr;
		}
		&__photo{
			grid-row: unset;
		}
		&__skills{
			grid-template-columns: repeat(2,260px);
			&-item{
				grid-template-columns: 40px 200px ;
				column-gap:20px;
			}
		}
	}
	.resume{
		&__wrapper {
		grid-template-columns: repeat(2,277px);
		column-gap: 20px;
		padding: 50px 0 0 0;
		}
		&__item{
			&-body{
				padding-left: 100px;
			}
		}
	}
	.skills {
        &__items {
            grid-template-columns: repeat(2, 270px);
            justify-content: space-evenly;
        }
        &__ratings {
            grid-template-columns: repeat(1, 350px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: space-evenly;
            padding: 0 30px;
        }
	}
	.contacts {
		padding-top: 40px;
		&__photo {
		    display: none;
		}
		&__wrapper {
		    grid-template-columns: 1fr;
		}
		&__form {
			grid-template: 45px 190px 45px / repeat(2, 250px);
		}
	}
	.portfolio{
		&__wrapper{
			grid-template-columns: repeat(2,280px);

	}
}
}


@media(max-width:576px){
	.container{
		max-width: 100%;
		padding: 10px 10px;
	}
	.title{
		&_fz48 {
			font-size: 26px;
		}
		&_fz36{
			font-size: 24px;
			
		}
	}
	.hamburger{
		right: 20px;
	}
	.menu{
		&__block{
			width: 263px;
		}
	}
	.promo{
		background: url('../img/taras_main_bg.jpg') no-repeat 75%/cover;
		&__btns{
			margin-top: 30px;
		}
	}
	.menu__link {
		font-size: 20px;
		line-height: 27px;
	}
	.menu__block {
		padding-left: 40px;
	}
	.about{
	 
		&__wrapper{
			grid-template: 400px auto auto /1fr;
			justify-items: center;
		}
		&__skills{
			grid-template-columns:1fr ;
		}
	}
	.resume{
		&__wrapper{
			grid-template-columns: repeat(auto-fit,300px);
			justify-content: center;
		}
		&__column{
			.title_none{
				display: none;
			}
		}
		&__item{
			&-location{
				font-size: 10px;
			}
		}

	}
	.skills {
        &__items {
            grid-template-columns: repeat(auto-fit, 270px);
            justify-content: space-evenly;
        }
        &__ratings {
            grid-template-columns: repeat(1, 350px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: space-evenly;
            padding: 0 30px;
        }
	}
	.contacts {
		padding-bottom: 50px;
		&__form {
			grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
		}
		&__textarea {
			grid-column: unset;
			width: 100%;
		}
		&__triggers {
			grid-column: unset;
			grid-template-columns: 1fr;
			column-gap: unset;
			row-gap: 20px;
		}
		&__btn {
			order: 2;
			max-width: 220px;
			margin: 0 auto;
		}
		&__policy {
			width: 180px;
			margin: 0 auto;
			line-height: 18px;
		}
	}
	.portfolio{
		&__wrapper{
			grid-template-columns: repeat(auto-fit,280px);
		}

	}

}

@media(max-width:414px){
	.promo{
		padding-top: 317px;
	}
	.skills{
		&__ratings{
			grid-template-columns: repeat(auto-fit,304px);
			&-line{
				width: 303px;
				
			}
		}
	}
}
@media(max-width:375px){
	.promo{
		padding-top: 317px;
	}
	.skills{
		&__ratings{
			grid-template-columns: repeat(auto-fit,304px);
			&-line{
				width: 303px;
			}
		}
	}
}




@media(max-width:320px){
	.promo{
		padding-top: 317px;
	}
	.skills{
		&__ratings{
			grid-template-columns: repeat(auto-fit,304px);
			&-line{
				width: 293px;
				
			}
		}
	}
	.resume {
		padding-top: 35px;
	}
	.skills {
		padding-top: 35px;
	
	}
	.portfolio {
		padding-top: 35px;
	}
	.contacts{
		padding-left: 10px;
	}
}
