@mixin before_circle{
    &:before{
        content:'';
        position: absolute;
        z-index: -1;
        top:-25%;
        left:0;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background-color:$main-color;
        
    }

}
@mixin magic-color{
    background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, right top, from(#90f3b3), color-stop(#90e9f3), color-stop(#909ff3), color-stop(#cc90f3), color-stop(#f390d1), color-stop(#f39a90), color-stop(#f3e590), to(#b8f390)) repeat scroll 0% 0%/200% 200%;
    background: rgba(0, 0, 0, 0) linear-gradient(90deg, #90f3b3, #90e9f3, #909ff3, #cc90f3, #f390d1, #f39a90, #f3e590, #b8f390) repeat scroll 0% 0%/200% 200%;
        background-clip: border-box;
    border-radius: 4px;
    -webkit-animation: GradientAnimation 3s ease infinite;
        animation: GradientAnimation 3s ease infinite; 
}